/* -------------------------------------------------------------------------- */
/* -----| GENERAL |---------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

body {
    background: #FFF url(../img/paper_fibers.png) repeat top left;
}

.page-container {
    background-color: #FFF;
    padding: 0 20px;
}

.container-narow {
    margin: 0 auto;
    max-width: 700px;
}

.green {
    color: #9C3;
}


/* -------------------------------------------------------------------------- */
/* -----| HEADER |----------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

#site-header {
    border-bottom: 1px solid #CCC;
    padding: 20px 0;
}

#site-title {
    font-family: 'Bitter', serif;
    font-size: 24px;
}

#site-header .nav {
    margin: 0;
}


/* -------------------------------------------------------------------------- */
/* -----| CONTENT |---------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

#jumbotron {
    border-bottom: 1px solid #CCC;
    padding: 20px 0;
    margin-bottom: 20px;
}

.section-title {
    border-bottom: 1px dotted #CCC;
    font-family: 'Bitter', serif;
    font-size: 24px;
    font-weight: normal;
    margin: 40px 0 20px;
}

.sub-title {

}


/* -------------------------------------------------------------------------- */
/* -----| FOOTER |----------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

#site-footer {
    border-top: 1px solid #CCC;
    color: #999;
    margin-top: 20px;
    padding: 20px 0;
    text-align: center;
}
